<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <contentSearch>
      <searchServiceClient type="Sitecore.ContentSearch.Azure.Http.SearchServiceClient, Sitecore.ContentSearch.Azure">
        <param desc="clientFactory" ref="contentSearch/httpClientFactory" />
        <param desc="retryPolicy" type="Sitecore.Support.ContentSearch.Azure.Http.CloudSearchRetryPolicy, Sitecore.Support.203909" patch:instead="*[@type='Sitecore.ContentSearch.Azure.Http.CloudSearchRetryPolicy, Sitecore.ContentSearch.Azure']">
          <DetectionStrategy type="Sitecore.ContentSearch.Azure.Http.CloudSearchTransientDetectionStrategy, Sitecore.ContentSearch.Azure" />
          <RetryStrategy type="Sitecore.ContentSearch.Azure.Http.CloudSearchExponentialRetryStrategy, Sitecore.ContentSearch.Azure">
            <Exponent>1.5</Exponent>
            <MaxRetryCount>10</MaxRetryCount>
            <MinDelayInterval>00:00:00.5</MinDelayInterval>
            <MaxDelayInterval>00:00:10</MaxDelayInterval>
          </RetryStrategy>
        </param>
        <managementOperationsTimeout>00:01:00</managementOperationsTimeout>
      </searchServiceClient>
    </contentSearch>
  </sitecore>
</configuration>